header img::selection,
.header-ara::selection,
header input::selection {
  background-color: transparent;
}
@media (min-width: 1180px) {
  .mainheader-textinput {
    height: 4rem;
    border-right: none;
    border-radius: 0.5rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 1rem;
    outline-color: var(--firstcolor);
    width: 70rem;
  }
}
@media (min-width: 920px) and (max-width: 1179px) {
  .mainheader-textinput {
    width: 40rem;
    height: 4rem;
    border-right: none;
    border-radius: 0.5rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 1rem;
    outline-color: var(--firstcolor);
  }
  .ThemeSwitchHeader{
    position: relative;
    right: 2rem;
   }
}
@media (min-width: 681px) and (max-width: 919px) {
  .mainheader-textinput {
    width: 16rem;
    height: 4rem;
    border-right: none;
    border-radius: 0.5rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 1rem;
    outline-color: var(--firstcolor);
  }
  .ThemeSwitchHeader{
    position: relative;
    right: 2rem;
   }
}
@media (min-width: 381px) and (max-width: 680px) {
  .mainheader-textinput {
    width: 16rem;
    height: 4rem;
    border-right: none;
    border-radius: 0.5rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 1rem;
    outline-color: var(--firstcolor);
  }
  .mainheader-hakkimizda {
    display: none;
  }
  .ThemeSwitchHeader{
    position: relative;
    right: -7rem;
   }
   .mainheader-map{
    display: none;
   }
}
@media (min-width: 320px) and (max-width: 380px) {
  .mainheader-textinput {
    width: 10rem;
    height: 4rem;
    border-right: none;
    border-radius: 0.5rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 1rem;
    outline-color: var(--firstcolor);
  }
  .mainheader-hakkimizda {
    display: none;
  }
  .ThemeSwitchHeader{
    position: relative;
    right: -7rem;
   }
   .mainheader-map{
    display: none;
   }
}
.mainheader-textinput::selection {
  background-color: var(--highcolor);
}
.mainheader-textinput{
  background-color: var(--secondcolor);
  border: 0.1rem solid var(--secondcolor);
  color: var(--textcolor);
}
.mainheader {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 6.5rem;
  align-items: center;
  z-index: 100;
  overflow: hidden;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  background-color: var(--firstcolor);
}
.maintop-logo {
  width: 7rem;
  position: relative;
  left: 2rem;
  cursor: pointer;
  visibility: visible;
}
.mainheader-searchbar {
  position: relative;
  left: 2rem;
  display: flex;
  align-items: center;
}

.mainheader-ara {
  height: 4rem;
  width: 6rem;
  background-color: var(--highcolor);
  border: 0.1rem solid var(--highcolor);
  border-left: none;
  border-radius: 0.5rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--textgray);
}
.mainheader nav {
  position: relative;
  right: 4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.mainheader nav .mainheader-hakkimizda {
  height: 4rem;
  width: 9rem;
  background-color: var(--highcolor);
  border: none;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  visibility: visible;
}
.ThemeSwitchHeader{
  border: 1px solid var(--highcolor);
}
.mainheader-map{
  height: 4rem;
  width: 5rem;
  background-color: var(--highcolor);
  border: none;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
}
.mainheader-map i{
  font-size: 2rem;
}