.Logolar img::selection,
.Hakkımızda::selection{
    background: transparent;
}

@media (min-width:320px) and (max-width: 480px) {
    .Logolar{
        scale: 80%;
    }
    .Tubitaklogo{
        width: 6rem;
        height: 8rem;
      }
      .Alimnamelogo{
       width: 11rem;
       height: 9rem;
      }
      .Atallogo{
       width: 9rem;
       height: 9rem;
      }
  }
  @media (min-width:481px) {
    .Tubitaklogo{
        width: 9rem;
        height: 12rem;
      }
      .Alimnamelogo{
       width: 13rem;
       height: 10.5rem;
      }
      .Atallogo{
       width: 11rem;
       height: 11rem;
      }
}
footer{
    width: 100%;
    background-color: var(--footerBackgroundColor);
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    gap: 2rem;
}
.Logolar{
    display: flex;
    align-items: center;
    gap: 3rem;
    position: relative;
    left: 0.8rem;
}

.AllRightsReserved h3{
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--highcolor);
}
.ProducedBy{
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--highcolor);
    opacity: 70%;
}