@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
::selection{
  background-color: var(--firstcolor);
}
html {
  font-size: 10px;
}

:root {
  /* TEMA RENKLERİ */
  --firstcolor: #ddba7ae6; /* TEMA RENGİ */
  --highcolor: rgb(250, 227, 127); /* VURGU SAĞLAMAK İÇİN */
  --softbackgroundcolor: rgb(218, 210, 176);
  --backgroundcolor: rgba(71, 71, 71, 0.4); /* KONTRAST SAĞLAMAK İÇİN */
  --detailflexcolor: var(--secondcolor);
  --secondcolor: #ffffff;  /* GENEL ARKAPLAN RENGİ */
  --pageBackgroundColor: #dbc2921a; /* DAHA KOYU ARKA PLAN RENGİ */
  --footerBackgroundColor: #808080;
  --pagerotherbuttons: var(--secondcolor);
  --pageroutercolor: var(--secondcolor);
  --pagerotherbuttonstext: var(--textcolor);
  --organizercolor:var(--textcolor);
  --searchpagecolor:var(--pageBackgroundColor);

  /* YAZI RENKLERİ */
   --baslikrengi: #555555;
   --textcolor: #333333;
   --listheadercolor: #333333;
   --linkcolor: blue;
   --linkhovercolor: var(--textcolor);
}

[data-theme="dark"] {
  /* DARK MODE RENKLERİ */
  --firstcolor: rgba(221, 186, 122, 0.902); /* TEMA RENGİ */
  --highcolor: rgb(250, 227, 127); /* VURGU SAĞLAMAK İÇİN */
  --softbackgroundcolor: rgb(218, 210, 176);
  --backgroundcolor: rgba(71, 71, 71, 0.4); /* KONTRAST SAĞLAMAK İÇİN */
  --detailflexcolor: rgba(71, 71, 71, 0.4);
  --secondcolor: #292929;  /* GENEL ARKAPLAN RENGİ */
  --pageBackgroundColor: var(--secondcolor); /* DAHA KOYU ARKA PLAN RENGİ */
  --footerBackgroundColor: #363636;
  --pagerotherbuttons: var(--footerBackgroundColor);
  --pagerotherbuttonstext: var(--highcolor);
  --organizercolor:var(--secondcolor);
  --pageroutercolor: var(--highcolor);
  --searchpagecolor:var(--detailflexcolor);
  --highlighter: #f0ae46;

  /* YAZI RENKLERİ */
   --baslikrengi: #dbdbdb;
   --textcolor: #dfdfdf;
   --listheadercolor: var(--secondcolor);
   --linkcolor: var(--highcolor);
   --linkhovercolor: var(--firstcolor);
}

html::-webkit-scrollbar {
  width: 1.1rem;
  background-color: #f0f0f0;
}

html::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background-color: var(--highcolor);
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  background-color: var(--secondcolor);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}