@media (min-width:320px) and (max-width: 330px) {
  .Table{
    scale: 80%;
    position: relative;
    margin-top: -14rem;
    margin-left: -2rem;
    margin-bottom: -12rem;
    padding-top: 4rem;
    width: 100%;
  }
  .Table.changed{
    scale: 80%;
    position: relative;
    margin-top: -9.3rem;
    margin-left: -1rem;
    margin-bottom: -6rem;
    padding-top: 4rem;
    width: 100%;
  }
}
@media (min-width:330px) and (max-width: 350px) {
  .Table{
    scale: 80%;
    position: relative;
    margin-top: -14rem;
    margin-left: -1.5rem;
    margin-bottom: -12rem;
    padding-top: 4rem;
    width: 100%;
  }
  .Table.changed{
    scale: 80%;
    position: relative;
    margin-top: -9.3rem;
    margin-left: -1rem;
    margin-bottom: -6rem;
    padding-top: 4rem;
    width: 100%;
  }
}
@media (min-width:350px) and (max-width: 480px) {
  .Table{
    scale: 80%;
    position: relative;
    margin-top: -15.5rem;
    margin-left: -1rem;
    margin-bottom: -12rem;
    padding-top: 4rem;
    width: 100%;
  }
  .Table.changed{
    scale: 80%;
    position: relative;
    margin-top: -9.3rem;
    margin-left: -1rem;
    margin-bottom: -6rem;
    padding-top: 4rem;
    width: 100%;
  }
}

@media (min-width:481px) {
  .Table{
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.Table .ant-table { background-color: var(--secondcolor); }
.ant-dropdown-menu-item-selected {
    background-color: var(--highcolor) !important;
  }
  .table-row{
    cursor: pointer; 
  }
  .AlimList-name{
    font-weight: 500;
    font-size: 1.1em;
    color: var(--textcolor);
  }
  .AlimList-others{
    font-weight: 400;
    font-size: 1.1em;
    color: var(--textcolor);
  }
